# Environment fayllar
.env
.env.local
*.env

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.log
*.pot
*.sqlite3
db.sqlite3

# Django static fayllar
staticfiles/
static/
media/
mediafiles/

# Docker
*.pid
docker-compose.override.yml

# IDE
.vscode/
.idea/
*.swp
*.swo

# Git
*.orig